@import '../../theme.scss';

.root {
  display: flex;
  flex-direction: column;
  width: spacing(40);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: spacing(3);
}

.cardContainer {
  margin-top: spacing(0.5);
}
