@import '../../theme';

.root {
  font-size: 14px;
  display: inline-flex;
}

.uppercase {
  text-transform: uppercase;
}

.primary {
  color: $textColorPrimary;
}

.secondary {
  color: $textColorSecondary;
}

.accent {
  color: $textColorAccent;
}

.iconRight {
  margin-left: spacing(0.5);
}

.small {
  font-size: 12px;
}
