@import '../../theme.scss';

.tabs {
  display: flex;
}

.tab {
  height: spacing(9);
  width: spacing(25);
  padding-top: spacing(1);
  padding-bottom: spacing(1);
  cursor: pointer;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.selectedTab {
  border-left: 1px solid $primaryColor;
  background-color: $white;

  .tabContent {
    border-left: none;
  }
}

.tabPanel {
  position: relative;
  height: spacing(40);
  background: $white;
}
