@import '../../theme';

.root {
  position: relative;
  min-height: spacing(49);
  height: spacing(49);
  user-select: none;
}

.rangeCalendar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
