@import '../../theme.scss';

.root {
  position: relative;
  display: grid;
  height: 56px;
  padding: spacing(1) spacing(1) spacing(1) 0;
  grid-template-columns: min-content 1fr;
  width: 100%;
}

.leftSide {
  display: flex;
  justify-content: center;
  height: 100%;
  width: spacing(5);
  border-right: 1px solid $borderColor;
  color: $primaryColor;
}

.rightSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: spacing(1);
  padding-right: spacing(1);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(0.5);
}

.title {
  font-size: 12px;
}

.secondaryText {
  color: $textSecondaryColor;
}
