@import '../../theme.scss';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: spacing(3);
}

.links {
  display: flex;
  flex-wrap: nowrap;
}

.awsConsoleTextContainer {
  margin-right: spacing(2);
}
