@import '../../theme.scss';

.root {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: spacing(3);
}

.links {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: spacing(2);
}

.crumbSeparator {
  margin: 0 4px 0 4px;
}

.awsConsoleTextContainer {
  margin-right: spacing(2);
}
