@import 'theme';

.content {
  padding-left: spacing(2);
  padding-right: spacing(2);
}

.space3 {
  height: spacing(3);
}

.space2 {
  height: spacing(2);
}

.space1 {
  height: spacing(1);
}

.widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 8px;
  column-gap: 8px;
  row-gap: 8px;
}

.spaceToRight {
  margin-right: spacing(1);
}
