@import 'theme';

.content {
  padding-left: spacing(2);
  padding-right: spacing(2);
}

.space3 {
  margin-top: spacing(3);
}

.space2 {
  margin-top: spacing(2);
}

.space1 {
  margin-top: spacing(1);
}
