$space: 8;

$textSecondaryColor: #989898;
$textPrimaryColor: #202225;
$textAccentColor: #4c44c5;

$red: #fc2501;

$primaryColor: #4c44c5;
$backgroundColor: #f4f4f4;
$white: #fff;
$borderColor: #dbdcdb;

@function spacing($value) {
  @return $value * $space * 1px;
}

:export {
  space: $space;
  white: $white;
  red: $red;
  borderColor: $borderColor;
  primaryColor: $primaryColor;
  textSecondaryColor: $textSecondaryColor;
}
